# Файлы кеша миниатюр Windows
Thumbs.db
Thumbs.db: encryptable
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
* .stackdump

# Конфигурационный файл папки
[ Dd ] esktop.ini

# Корзина, используемая в общих папках
$ RECYCLE.BIN /

# Файлы установщика Windows
* .cab
* .msi
* .msix
* .msm
* .msp

# Ярлыки Windows
* .lnk
